@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

html, body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}

body {
  min-width: 360px;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-style: normal;
  background: #f6f6f6;
}

input {
  outline: none;
}
